<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
    <a class="navbar-brand" href="">Employee Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">Add employee</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" (submit)="onSubmit($event)" style="position: relative;">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                [(ngModel)]="searchTerm" name="search" (input)="onSearch($event)">
            <button *ngIf="searchTerm" type="button" class="btn btn-outline-danger clear-btn" (click)="clearSearch()"
                aria-label="Clear search">
                ✕
            </button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
        </form>

    </div>
</div>