<div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="editEmployeeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editEmployeeModalLabel">{{title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form *ngIf="employee" #editForm="ngForm" (ngSubmit)="onUpdateEmployee(employee)">
                    <div *ngIf="employee?.name" class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name" name="name"
                            [(ngModel)]="employee.name">
                    </div>
                    <div *ngIf="employee?.email !== undefined" class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Email" name="email"
                            [(ngModel)]="employee.email">
                    </div>
                    <div *ngIf="employee?.jobTitle !== undefined" class="mb-3">
                        <label for="jobTitle" class="form-label">Job Title</label>
                        <input type="text" class="form-control" id="jobTitle" placeholder="Job title" name="jobTitle"
                            [(ngModel)]="employee.jobTitle">
                    </div>
                    <div *ngIf="employee?.phone !== undefined" class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Phone" name="phone"
                            [(ngModel)]="employee.phone">
                    </div>
                    <div *ngIf="employee?.imageUrl !== undefined" class="mb-3">
                        <label for="imageUrl" class="form-label">Image Url</label>
                        <input type="text" class="form-control" id="imageUrl" placeholder="Image url" name="imageUrl"
                            [(ngModel)]="employee.imageUrl">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary"
                            data-bs-dismiss="modal">Update changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>